<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Description</h3>
        <p>
          I have over 6 years of experience as a software engineer and have worked at both startups
          and large organizations. I'm proficient in Java and Scala for big data analytics
          infrastructure, and most recently I've co-founded a startup focusing in the post-COVID fitness industry.
        </p>
        <p>
          I love building things.
          While hard engineering problems are often intrinsically fun to tackle, I'm most excited
          about impacting the growth of new products and ventures from scratch - doing whatever is necessary.
          In the past months, I've learned to become a fullstack engineer, architected, built and deployed a scalable,
          multi-tenant, cloud-based SaaS product, hired and managed a great team of developers that feel ownership of
          the product, and spoken to countless potential clients and users, conducting field experiments to get a
          first-hand understanding of the need our product solves.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Highlights</h3>
        <ul>
          <li>
            Hired and managed a global team of 8, focusing on creating and growing a culture of growth-mindset,
            ownership, empowerment, and accountability in an inherently asynchronous team environment.
          </li>
          <li>
            Built a webRTC based video communication solution deeply integrated with a CMS and a CRM to provide a
            top-of-the-market fitness experience local gyms and studios can leverage to compete in the age of COVID-19
            and digital first competitors like Peloton, Apple fitness, and more.
          </li>
          <li>
            Helped develop at scale, event processing engine using spark structured streaming,
            kafka, and HDFS - processing petabytes per day.
          </li>
          Created an Object Graph Mapper library for the Apache Tinkerpop Gremlin language,
          enabling the use of Titan 1.0.0 (an open-source graph database) as the underlying
          infrastructure for a NoSQL discovery tool.
          <li>
            Recreated NLP chat specific text classifiers and benchmarking tools from academic
            whitepapers for research purposes, disproving the viability of automated thread
            disentanglement in group chats with current classifiers.
          </li>
          <li>
            Was awarded first place in PayPal internal hackathon for building a web-based radio station.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>